{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign image = block.settings.image
  assign image__overlay = block.settings.image__overlay
  assign url = block.settings.url
  assign title = block.settings.title
  assign title_font = block.settings.title_font
  assign subtitle_richtext = block.settings.subtitle_richtext
  assign subtitle_font = block.settings.subtitle_font
  assign border_width = block.settings.border_width
  assign responsive_visibility = block.settings.responsive_visibility
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

<div>
  {% render '_image', image: image, width: 700, class: "absolute inset-0 w-full h-full object-cover", placeholder: placeholderImage %}
</div>